blueprint.json
{
  "name": "Integration Tools, Bright Data",
  "flow": [
    {
      "id": 1,
      "module": "util:SetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "keyword",
            "value": "[\"best running shoes\", \"nike air zoom\", \"adidas ultraboost\"]"
          },
          {
            "name": "domain",
            "value": "google.com"
          },
          {
            "name": "num_results",
            "value": "5"
          },
          {
            "name": "country",
            "value": "United States"
          }
        ],
        "scope": "execution"
      },
      "metadata": {
        "designer": {
          "x": -2606,
          "y": -661,
          "name": "Input Parameters"
        },
        "restore": {
          "expect": {
            "variables": {
              "items": [null, null, null, null]
            },
            "scope": {
              "label": "One execution"
            }
          }
        },
        "expect": [
          {
            "name": "variables",
            "type": "array",
            "label": "Variables",
            "spec": [
              {
                "name": "name",
                "label": "Variable name",
                "type": "text",
                "required": true
              },
              {
                "name": "value",
                "label": "Variable value",
                "type": "any"
              }
            ]
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": ["roundtrip", "execution"]
            }
          }
        ],
        "interface": [
          {
            "name": "keyword",
            "label": "keyword",
            "type": "any"
          },
          {
            "name": "domain",
            "label": "domain",
            "type": "any"
          },
          {
            "name": "num_results",
            "label": "num_results",
            "type": "any"
          },
          {
            "name": "country",
            "label": "country",
            "type": "any"
          }
        ]
      }
    },
    {
      "id": 30,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.keyword}}"
      },
      "metadata": {
        "designer": {
          "x": -2166,
          "y": -668,
          "name": "\ud83d\udd01 Keyword Iterator"
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "name": "array",
            "type": "array",
            "label": "Array",
            "mode": "edit",
            "spec": []
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "mcp-client:DoAnAction",
      "version": 1,
      "parameters": {
        "account": "YOUR_MCP_CONNECTION_ID"
      },
      "mapper": {
        "tools": [
          "search_engine",
          "scrape_as_markdown",
          "search_engine_batch",
          "scrape_batch"
        ],
        "prompt": "Search Google for {{1.keyword}} using the connected Bright Data MCP server.\r\n\r\nFetch organic search results from the {{1.domain}} search results page for the specified {{1.country}}.\n\r\nExtract ONLY the top {{1.num_results}}organic results.\r\nExclude ads, sponsored results, videos, images, knowledge panels, and featured snippets.\r\n\r\nReturn the output where each item contains:\r\nrank, title, url, domain\r\n\r\nDo not include explanations, comments, markdown, or formatting wrappers.\r\n",
        "disableSystemPrompt": false
      },
      "metadata": {
        "designer": {
          "x": -1761,
          "y": -668,
          "name": "SERP Fetch (Bright Data)"
        },
        "restore": {
          "parameters": {
            "account": {
              "label": "My MCP connection (mcp.brightdata.com [Token] [sse])",
              "data": {
                "scoped": "true",
                "connection": "mcp"
              }
            }
          },
          "expect": {
            "tools": {
              "mode": "chose",
              "label": [
                "Search engineScrape search results from Google, Bing or Yandex. Returns SERP results in JSON or Markdown (URL, title, description), Ideal for gathering current information, news, and detailed search results.",
                "Scrape as markdownScrape a single webpage URL with advanced options for content extraction and get back the results in MarkDown language. This tool can unlock any webpage even if it uses bot detection or CAPTCHA.",
                "Search engine batchRun multiple search queries simultaneously. Returns JSON for Google, Markdown for Bing/Yandex.",
                "Scrape batchScrape multiple webpages URLs with advanced options for content extraction and get back the results in MarkDown language. This tool can unlock any webpage even if it uses bot detection or CAPTCHA."
              ]
            }
          }
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:mcp",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "tools",
            "type": "select",
            "label": "Tools",
            "required": true,
            "multiple": true
          },
          {
            "name": "prompt",
            "type": "text",
            "label": "Task",
            "required": true
          },
          {
            "name": "disableSystemPrompt",
            "type": "boolean",
            "label": "Disable system prompt",
            "required": true
          }
        ]
      },
      "onerror": [
        {
          "id": 16,
          "module": "util:FunctionSleep",
          "version": 1,
          "parameters": {},
          "mapper": {
            "duration": "3"
          },
          "metadata": {
            "designer": {
              "x": -1596,
              "y": -217,
              "name": "Retry Delay (3s)"
            },
            "restore": {},
            "expect": [
              {
                "name": "duration",
                "type": "uinteger",
                "label": "Delay",
                "validate": {
                  "min": 1,
                  "max": 300
                },
                "required": true
              }
            ]
          }
        },
        {
          "id": 17,
          "module": "mcp-client:DoAnAction",
          "version": 1,
          "parameters": {
            "account": "YOUR_MCP_CONNECTION_ID"
          },
          "mapper": {
            "tools": [
              "search_engine",
              "scrape_as_markdown",
              "search_engine_batch",
              "scrape_batch"
            ],
            "prompt": "Search Google for {{1.keyword}}.\r\n\r\nUse the connected Bright Data MCP server.\r\nFetch the {{1.domain}} search results page HTML.\r\n\r\nExtract the top {{1.num_results}} organic search results only.\r\nIgnore ads, sponsored results, videos, images, and featured snippets.\n\nResults must be from {{1.country}}\r\n\r\nReturn the results as JSON with:\r\nrank, title, url, domain\r\n\nReturn ONLY valid raw JSON.\r\nNo text, no explanation, no markdown, no ```json``` wrapper.\r\n",
            "disableSystemPrompt": false
          },
          "metadata": {
            "designer": {
              "x": -1215,
              "y": -223,
              "name": "Retry SERP Fetch (Bright Data)"
            },
            "restore": {
              "parameters": {
                "account": {
                  "label": "My MCP connection (mcp.brightdata.com [Token] [sse])",
                  "data": {
                    "scoped": "true",
                    "connection": "mcp"
                  }
                }
              },
              "expect": {
                "tools": {
                  "mode": "chose",
                  "label": [
                    "Search engineScrape search results from Google, Bing or Yandex. Returns SERP results in JSON or Markdown (URL, title, description), Ideal for gathering current information, news, and detailed search results.",
                    "Scrape as markdownScrape a single webpage URL with advanced options for content extraction and get back the results in MarkDown language. This tool can unlock any webpage even if it uses bot detection or CAPTCHA.",
                    "Search engine batchRun multiple search queries simultaneously. Returns JSON for Google, Markdown for Bing/Yandex.",
                    "Scrape batchScrape multiple webpages URLs with advanced options for content extraction and get back the results in MarkDown language. This tool can unlock any webpage even if it uses bot detection or CAPTCHA."
                  ]
                }
              }
            },
            "parameters": [
              {
                "name": "account",
                "type": "account:mcp",
                "label": "Connection",
                "required": true
              }
            ],
            "expect": [
              {
                "name": "tools",
                "type": "select",
                "label": "Tools",
                "required": true,
                "multiple": true
              },
              {
                "name": "prompt",
                "type": "text",
                "label": "Task",
                "required": true
              },
              {
                "name": "disableSystemPrompt",
                "type": "boolean",
                "label": "Disable system prompt",
                "required": true
              }
            ]
          }
        },
        {
          "id": 18,
          "module": "util:FunctionSleep",
          "version": 1,
          "parameters": {},
          "mapper": {
            "duration": "3"
          },
          "metadata": {
            "designer": {
              "x": -797,
              "y": -240,
              "name": "Retry Delay (Final)"
            },
            "restore": {},
            "expect": [
              {
                "name": "duration",
                "type": "uinteger",
                "label": "Delay",
                "validate": {
                  "min": 1,
                  "max": 300
                },
                "required": true
              }
            ]
          }
        },
        {
          "id": 19,
          "module": "util:SetVariables",
          "version": 1,
          "parameters": {},
          "mapper": {
            "variables": [
              {
                "name": "type",
                "value": "{{6.error.type}}"
              },
              {
                "name": "message",
                "value": "{{6.error.message}}"
              },
              {
                "name": "error",
                "value": "true"
              },
              {
                "name": "source",
                "value": "brightdata_mcp"
              },
              {
                "name": "scraped_at",
                "value": "{{now}}"
              }
            ],
            "scope": "execution"
          },
          "metadata": {
            "designer": {
              "x": -432,
              "y": -247,
              "name": "Fallback Error Output"
            },
            "restore": {
              "expect": {
                "variables": {
                  "items": [null, null, null, null, null]
                },
                "scope": {
                  "label": "One execution"
                }
              }
            },
            "expect": [
              {
                "name": "variables",
                "type": "array",
                "label": "Variables",
                "spec": [
                  {
                    "name": "name",
                    "label": "Variable name",
                    "type": "text",
                    "required": true
                  },
                  {
                    "name": "value",
                    "label": "Variable value",
                    "type": "any"
                  }
                ]
              },
              {
                "name": "scope",
                "type": "select",
                "label": "Variable lifetime",
                "required": true,
                "validate": {
                  "enum": ["roundtrip", "execution"]
                }
              }
            ],
            "interface": [
              {
                "name": "type",
                "label": "type",
                "type": "any"
              },
              {
                "name": "message",
                "label": "message",
                "type": "any"
              },
              {
                "name": "error",
                "label": "error",
                "type": "any"
              },
              {
                "name": "source",
                "label": "source",
                "type": "any"
              },
              {
                "name": "scraped_at",
                "label": "scraped_at",
                "type": "any"
              }
            ]
          }
        }
      ]
    },
    {
      "id": 12,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": 269385
      },
      "mapper": {
        "json": "{{6.result}}"
      },
      "metadata": {
        "designer": {
          "x": -1454,
          "y": -874,
          "name": "Parse Json Results"
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "My data structure"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ],
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "query",
            "label": "Query",
            "help": "",
            "type": "text",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "results",
            "label": "Results",
            "help": "",
            "type": "array",
            "spec": {
              "type": "collection",
              "spec": [
                {
                  "name": "rank",
                  "label": null,
                  "help": "",
                  "type": "number",
                  "default": null,
                  "required": false
                },
                {
                  "name": "title",
                  "label": null,
                  "help": "",
                  "type": "text",
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "name": "url",
                  "label": null,
                  "help": "",
                  "type": "text",
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "name": "domain",
                  "label": null,
                  "help": "",
                  "type": "text",
                  "default": null,
                  "required": false,
                  "multiline": false
                }
              ],
              "required": false
            },
            "required": false
          }
        ]
      },
      "onerror": [
        {
          "id": 23,
          "module": "util:SetVariables",
          "version": 1,
          "parameters": {},
          "mapper": {
            "variables": [
              {
                "name": "status",
                "value": "error"
              },
              {
                "name": "error_type",
                "value": "invalid_json"
              },
              {
                "name": "error_message",
                "value": "Invalid JSON returned by MCP tool"
              },
              {
                "name": "error_message",
                "value": "{{6.result}}"
              },
              {
                "name": "source",
                "value": "brightdata_mcp"
              },
              {
                "name": "scraped_at",
                "value": "{{now}}"
              }
            ],
            "scope": "execution"
          },
          "metadata": {
            "designer": {
              "x": -1145,
              "y": -564,
              "name": "Invalid json error handle"
            },
            "restore": {
              "expect": {
                "variables": {
                  "items": [null, null, null, null, null, null]
                },
                "scope": {
                  "label": "One execution"
                }
              }
            },
            "expect": [
              {
                "name": "variables",
                "type": "array",
                "label": "Variables",
                "spec": [
                  {
                    "name": "name",
                    "label": "Variable name",
                    "type": "text",
                    "required": true
                  },
                  {
                    "name": "value",
                    "label": "Variable value",
                    "type": "any"
                  }
                ]
              },
              {
                "name": "scope",
                "type": "select",
                "label": "Variable lifetime",
                "required": true,
                "validate": {
                  "enum": ["roundtrip", "execution"]
                }
              }
            ],
            "interface": [
              {
                "name": "status",
                "label": "status",
                "type": "any"
              },
              {
                "name": "error_type",
                "label": "error_type",
                "type": "any"
              },
              {
                "name": "error_message",
                "label": "error_message",
                "type": "any"
              },
              {
                "name": "source",
                "label": "source",
                "type": "any"
              },
              {
                "name": "scraped_at",
                "label": "scraped_at",
                "type": "any"
              }
            ]
          }
        }
      ]
    },
    {
      "id": 21,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {
        "else": 1
      },
      "mapper": null,
      "metadata": {
        "designer": {
          "x": -1137,
          "y": -1227,
          "name": "Result Decision Router"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 31,
              "module": "builtin:BasicFeeder",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "checking for results",
                "conditions": [
                  [
                    {
                      "a": "{{length(`12`)}}",
                      "o": "number:greater",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "array": "{{12.results}}"
              },
              "metadata": {
                "designer": {
                  "x": -673,
                  "y": -1512,
                  "name": "\ud83d\udd01 Results Iterator"
                },
                "restore": {
                  "expect": {
                    "array": {
                      "mode": "edit"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "array",
                    "type": "array",
                    "label": "Array",
                    "mode": "edit",
                    "spec": []
                  }
                ]
              }
            },
            {
              "id": 25,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "query",
                    "value": "{{30.value}}"
                  },
                  {
                    "name": "engine",
                    "value": "{{1.domain}}"
                  },
                  {
                    "name": "scraped_at",
                    "value": "{{now}}"
                  },
                  {
                    "name": "source",
                    "value": "brightdata_mcp"
                  },
                  {
                    "name": "Rank",
                    "value": "{{31.rank}}"
                  },
                  {
                    "name": "title",
                    "value": "{{31.title}}"
                  },
                  {
                    "name": "URL",
                    "value": "{{31.url}}"
                  },
                  {
                    "name": "domain",
                    "value": "{{31.domain}}"
                  }
                ],
                "scope": "execution"
              },
              "metadata": {
                "designer": {
                  "x": -304,
                  "y": -1527,
                  "name": "Normalize Output Schema"
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [null, null, null, null, null, null, null, null]
                    },
                    "scope": {
                      "label": "One execution"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": ["roundtrip", "execution"]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "query",
                    "label": "query",
                    "type": "any"
                  },
                  {
                    "name": "engine",
                    "label": "engine",
                    "type": "any"
                  },
                  {
                    "name": "scraped_at",
                    "label": "scraped_at",
                    "type": "any"
                  },
                  {
                    "name": "source",
                    "label": "source",
                    "type": "any"
                  },
                  {
                    "name": "Rank",
                    "label": "Rank",
                    "type": "any"
                  },
                  {
                    "name": "title",
                    "label": "title",
                    "type": "any"
                  },
                  {
                    "name": "URL",
                    "label": "URL",
                    "type": "any"
                  },
                  {
                    "name": "domain",
                    "label": "domain",
                    "type": "any"
                  }
                ]
              }
            },
            {
              "id": 15,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "YOUR_GOOGLE_CONNECTION_ID"
              },
              "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "values": {
                  "0": "{{25.query}}",
                  "1": "{{25.engine}}",
                  "2": "{{25.Rank}}",
                  "3": "{{25.title}}",
                  "4": "{{25.URL}}",
                  "5": "{{25.domain}}",
                  "6": "{{25.source}}",
                  "7": "{{25.scraped_at}}"
                }
              },
              "metadata": {
                "designer": {
                  "x": 209,
                  "y": -1524,
                  "name": "Persist to Google Sheets"
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "My Google connection (your-email@example.com)",
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      }
                    }
                  },
                  "expect": {
                    "mode": {
                      "label": "Search by path"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "from": {
                      "label": "My Drive"
                    },
                    "spreadsheetId": {
                      "path": ["make mcp ", "Store mcp data for search"]
                    },
                    "sheetId": {
                      "label": "Sheet1"
                    },
                    "includesHeaders": {
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "Query (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Engine (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Rank (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Title (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "URL (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Domain (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Source from (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "Scraped_at (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ],
                      "label": "Yes"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": ["select", "fromAll", "map"]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": ["USER_ENTERED", "RAW"]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": ["INSERT_ROWS", "OVERWRITE"]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": ["drive", "share", "team"]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [true, false]
                    }
                  },
                  {
                    "name": "values",
                    "type": "collection",
                    "label": "Values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "Query (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Engine (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Rank (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Title (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "URL (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Domain (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Source from (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "Scraped_at (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 26,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "checking for results",
                "conditions": [
                  [
                    {
                      "a": "{{length(`12`)}}",
                      "o": "number:equal",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "variables": [
                  {
                    "name": "status",
                    "value": "status"
                  },
                  {
                    "name": "error_type",
                    "value": "empty_results"
                  },
                  {
                    "name": "error_message",
                    "value": "No organic results found for the given query"
                  },
                  {
                    "name": "query",
                    "value": "{{1.keyword}}"
                  },
                  {
                    "name": "engine",
                    "value": "{{1.domain}}"
                  },
                  {
                    "name": "source",
                    "value": "brightdata_mcp"
                  },
                  {
                    "name": "scraped_at",
                    "value": "{{now}}"
                  }
                ],
                "scope": "execution"
              },
              "metadata": {
                "designer": {
                  "x": -575,
                  "y": -1154,
                  "name": "\u26a0\ufe0f Empty Results error handler"
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [null, null, null, null, null, null, null]
                    },
                    "scope": {
                      "label": "One execution"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": ["roundtrip", "execution"]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "status",
                    "label": "status",
                    "type": "any"
                  },
                  {
                    "name": "error_type",
                    "label": "error_type",
                    "type": "any"
                  },
                  {
                    "name": "error_message",
                    "label": "error_message",
                    "type": "any"
                  },
                  {
                    "name": "query",
                    "label": "query",
                    "type": "any"
                  },
                  {
                    "name": "engine",
                    "label": "engine",
                    "type": "any"
                  },
                  {
                    "name": "source",
                    "label": "source",
                    "type": "any"
                  },
                  {
                    "name": "scraped_at",
                    "label": "scraped_at",
                    "type": "any"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 29,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "captcha Detected",
                "conditions": [
                  [
                    {
                      "a": "title ",
                      "o": "text:contain",
                      "b": "captcha"
                    }
                  ],
                  [
                    {
                      "a": "title",
                      "o": "text:contain",
                      "b": "unusual traffic"
                    }
                  ],
                  [
                    {
                      "a": "title ",
                      "o": "text:contain",
                      "b": "verify you are human"
                    }
                  ],
                  [
                    {
                      "a": "title ",
                      "o": "text:contain",
                      "b": "access denied"
                    }
                  ],
                  [
                    {
                      "a": "title ",
                      "o": "text:equal",
                      "b": "blocked"
                    }
                  ]
                ]
              },
              "mapper": {
                "variables": [
                  {
                    "name": "status",
                    "value": "error"
                  },
                  {
                    "name": "error_type",
                    "value": "captcha_or_blocked"
                  },
                  {
                    "name": "error_message",
                    "value": "Request blocked or CAPTCHA detected by search engine"
                  },
                  {
                    "name": "query",
                    "value": "{{1.keyword}}"
                  },
                  {
                    "name": "engine",
                    "value": "{{1.domain}}"
                  },
                  {
                    "name": "source",
                    "value": "brightdata_mcp"
                  },
                  {
                    "name": "scraped_at",
                    "value": "{{now}}"
                  }
                ],
                "scope": "execution"
              },
              "metadata": {
                "designer": {
                  "x": -578,
                  "y": -827,
                  "name": "\ud83d\udeab CAPTCHA / Blocked error handler"
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [null, null, null, null, null, null, null]
                    },
                    "scope": {
                      "label": "One execution"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": ["roundtrip", "execution"]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "status",
                    "label": "status",
                    "type": "any"
                  },
                  {
                    "name": "error_type",
                    "label": "error_type",
                    "type": "any"
                  },
                  {
                    "name": "error_message",
                    "label": "error_message",
                    "type": "any"
                  },
                  {
                    "name": "query",
                    "label": "query",
                    "type": "any"
                  },
                  {
                    "name": "engine",
                    "label": "engine",
                    "type": "any"
                  },
                  {
                    "name": "source",
                    "label": "source",
                    "type": "any"
                  },
                  {
                    "name": "scraped_at",
                    "label": "scraped_at",
                    "type": "any"
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": [
      {
        "moduleIds": [6],
        "content": "<p><strong>\ud83d\ude80 QUICK START</strong></p><p></p><p>1\ufe0f\u20e3 Set your Bright Data MCP token in the MCP Client connection.</p><p></p><p>2\ufe0f\u20e3 Change input variables:</p><p>   - keyword</p><p>   - domain (optional)</p><p>   - search_engine (google / bing)</p><p>   - country / locale</p><p>   - num_results</p><p></p><p>3\ufe0f\u20e3 What this scenario does:</p><p>   - Fetches organic SERP results using Bright Data MCP</p><p>   - Handles retries, empty results, CAPTCHA, invalid JSON</p><p>   - Outputs normalized SERP data</p><p></p><p>4\ufe0f\u20e3 Expected output schema:</p><p>{</p><p>  query,</p><p>  engine,</p><p>  rank,</p><p>  title,</p><p>  url,</p><p>  domain,</p><p>  scraped_at,</p><p>  source</p><p>}</p><p></p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      }
    ]
  }
}
